.div {
  font-weight: 400;
  font-family: "Muli", "Mulish";
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.div:hover {
  overflow: visible;
}
.span {
  font-weight: 700;
  font-family: "Muli", "Mulish";
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.span:hover {
  overflow: visible;
}
.p {
  font-weight: 400;
  font-family: "Muli", "Mulish";
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.p:hover {
  overflow: visible;
}
